# Dependências
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build
.next
out
dist

# Controle de versão
.git
.gitignore

# Variáveis de ambiente
.env
.env.*
!.env.example
!.env

# IDEs
.vscode
.idea

# Sistema operacional
.DS_Store
Thumbs.db

# Logs
*.log

# Testes
coverage

# Arquivos temporários
*.tmp
*.temp

# Documentação
README.md